#name{
   color: blue; 

}

p{
    color: white;
}

body{
    place-content: center;
    text-align: center;
    place-items: center;
    background-color: aquamarine;
    display: grid;

}

div{
    background-color: yellowgreen;
    width: 50%;
    justify-content: center;
    border:5px solid red;
    border-radius:30px;
    margin: 20%;
    padding: 10%;




}
